services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: clash
      POSTGRES_USER: clash
      POSTGRES_PASSWORD: clash
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./:/app

volumes:
  pgdata:
